form{
    display:grid;
    justify-items: center;
   
}

.form input{
    margin: 1em;
 }

 .container{
    border: solid 3px rgb(38, 159, 202);
    background-color: rgb(7, 77, 78);
    margin: 0 auto;
    max-width: 40em;
    border-radius: 20px;
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    justify-content: space-around;
    color:rgb(28, 184, 132)
}

 
.row{
    width: 40px;
    
}
